.container {
  padding: 10px;
  border-radius: 8px;
  display: flex;
  margin: 0.5vh;

  max-height: 8vh;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--secondaryBackground);
  user-select: none;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-between;
}
.leftArea {
  display: flex;
  align-items: center;
}
.profilePhoto {
  background-color: var(--textColor);
  width: 35px;
  height: 35px;
  border: 0;
  border-radius: 5px;
}
.profileName {
  font-size: var(--primaryFontSize);
  margin-left: 10px;
}
.addBtn {
  justify-self: flex-end;
  font-size: var(--HeaderFontSize);
  cursor: pointer;
}
.exitIcon {
  width: 35px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.lastContainer {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  margin-right: 1.5vw;
}
